<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>springmvc-web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>lservlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/lservlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>lservlet.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/lservlet/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetUserServlet</servlet-name>
    <servlet-class>lservlet.GetUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserServlet</servlet-name>
    <url-pattern>/lservlet/GetUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>lservlet.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/lservlet/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAppsServlet</servlet-name>
    <servlet-class>lservlet.GetAppsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAppsServlet</servlet-name>
    <url-pattern>/lservlet/GetAppsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetUserAppServlet</servlet-name>
    <servlet-class>lservlet.GetUserAppServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserAppServlet</servlet-name>
    <url-pattern>/lservlet/GetUserAppServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddAppServlet</servlet-name>
    <servlet-class>lservlet.AddAppServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAppServlet</servlet-name>
    <url-pattern>/lservlet/AddAppServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserlistServlet</servlet-name>
    <servlet-class>lservlet.UserlistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserlistServlet</servlet-name>
    <url-pattern>/lservlet/UserlistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserAddServlet</servlet-name>
    <servlet-class>lservlet.UserAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAddServlet</servlet-name>
    <url-pattern>/lservlet/UserAddServlet</url-pattern>
  </servlet-mapping>
  <filter>
      <filter-name>LoginFilter</filter-name>
      <filter-class>lservlet.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
      <filter-name>LoginFilter</filter-name>
      <url-pattern>*</url-pattern>
  </filter-mapping>
</web-app>